# Database
DB_NAME=tracker_db_prod
DB_USER=tracker_user_prod
DB_PASSWORD=secure_password_here
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Django
SECRET_KEY=very-secure-secret-key
DEBUG=0
ALLOWED_HOSTS=your_domain.com,www.your_domain.com
EMAIL_PASSWORD=your-email-password
TELEGRAM_TOKEN=your-telegram-bot-token