# Database
DB_NAME=tracker_db
DB_USER=tracker_user
DB_PASSWORD=secret_password
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# Django
SECRET_KEY=your-secret-key-here
DEBUG=1
EMAIL_PASSWORD=your-email-password
TELEGRAM_TOKEN=your-telegram-bot-token